body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: fuchsia;
    background-color: black; 
}

canvas {
    border: 2px solid lightgray;
}